
        .table-container {
            max-width: 1200px;
            margin: 0 auto;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 15px;
        }

        .styled-table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 16px;
            min-width: 400px;
            width: 100%;
            border-radius: 10px;
            /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
        }

        .styled-table thead tr {
            background-color: #eaf4fc; /* Color oscuro para contraste */
            color: #00407F;
            text-align: center;
            font-size: 13px;
        }

        
        .styled-table th, .styled-table td {
            padding: 12px 15px;
            border-bottom: 1px solid #ddd;

        }

        
        .styled-table tbody tr {
            border-bottom: 1px solid #dddddd;
            color: #000;
        }

        .styled-table tbody tr:nth-of-type(even) {
            /* background-color: #f3f3f3; */
            background-color: #f9fbfc;
        }

        
        .styled-table tbody tr:hover {
           /* background-color: #f1f1f1; */
            background-color: #f1f6fc!important;
            
        }
      
        /* .styled-table tbody tr:last-of-type {
            border-bottom: 2px solid #00407F;
        } */

        
        .btn-action {
            background-color: #00BCD4; 
            color: white;
            border: none;
            padding: 8px 12px;
            border-radius: 5px;
            cursor: pointer;
        }

        .btn-action:hover {
            background-color: #0097a7; 
        }

        .btn-action2 {
            background-color: #00BCD4; 
            color: white;
            font-size: 60%;
        }

        .btn-action2:hover {
            background-color: #0097a7;
            cursor: pointer;
        }

        .styled-table td {
            text-align: center;
            
        }

        

        tbody tr:nth-child(2n+1) {
          background-color: #F8F8F8 !important;
        }

        .small-header {
            font-size: 0.8em;
            padding: 5px;     
            text-align: center;
        }

        /*.tooltip-inner {
            background-color: #F8F8F8 !important;
            color: #6c757d !important;
        }*/

        .btn-generar {
            background-color: #81C784;
            color: white;
            border: none;
            padding: 8px 12px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 14px;
        }

        .btn-generar:hover {
            background-color: #4BAE4F;
             /* Azul claro más oscuro */
        }

        /* Botón Editar */
        .btn-editar {
            background-color: #4DB8D7;
            color: white;
            border: none;
            padding: 8px 12px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 14px;
        }

        .btn-editar:hover {
            background-color: #17a2b8; 
        }

        /* Botón Descargar */
        .btn-descargar {
            background-color: #1976D2; /* Azul oscuro */
            color: white;
            border: none;
            padding: 8px 12px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 14px;
        }

        .btn-descargar:hover {
            background-color: #004080; /* Azul aún más oscuro */
        }

